.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
  }
  
  .example-stepper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
  }

  .some-set {
    margin-top: 2%;
    margin-left:20%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 15px;
  }
  
  button{
    display: block;
    align-self: stretch;
    justify-content: center;
  }
  
  .example-large-box {
    height:fit-content;
    width: 300px;
  }

  .example-card {
    max-width: 400px;
    padding: 0% !important;  
}  
  .example-header-image {
      background-image: url('../assets/usama-devops.jpg');
      background-size: contain;
      border-radius: 50%;
  }
  .mat-card{
      background-color:#7b1fa2 !important;
      padding:0px !important;
      display: flexbox;
      align-items: center;
      justify-content: center;
  }
  .mat-card-content{
      border-top-left-radius: 30pt;
      border-top-right-radius: 30pt;
      width: auto;
      display: block;
      align-self: center;
      background-color:#424242 !important;
      height: 100%;
  }